@media (max-width: 908px) {
  .container-tile:before {
    display: none; }

  .bottom-block {
    max-width: 570px; } }
@media (max-width: 576px) {
  .top-block:nth-child(2) {
    margin-top: 25px; }

  .trash .row {
    margin-top: 30px; }

  .header-contact-number .row div {
    margin-top: 10px; }

  .targeted {
    padding: 98px 15px 98px 15px; }

  .pusher-adapt .container {
    padding-right: 0; }

  .offers {
    padding-right: 0 !important; }

  .header .papka {
    padding: 0 10px 0 10px !important; } }
@media (min-width: 576px) {
  .stats {
    padding-top: 50px !important; }

  .desc-wrap .desc {
    padding-left: 0;
    margin-left: 18px; }
    .desc-wrap .desc .text {
      padding-left: 0;
      margin-top: 40px !important;
      margin-bottom: 25px !important; }
  .desc-wrap .logo {
    display: none;
    padding-left: 0; }

  .top-block:nth-child(2) {
    margin-top: 25px; }

  .bottom-block {
    max-width: 570px; }
    .bottom-block .row .offer:after {
      background-repeat: no-repeat; }
    .bottom-block .row .think {
      padding-right: 0px; } }
@media (min-width: 1200px) {
  .d-xl-flex {
    display: flex !important; }

  .top-block .offer {
    border-radius: 10px 0 0 10px; }
  .top-block:nth-child(2) {
    margin-top: 0px; }

  .bottom-block {
    max-width: 1140px !important; }
    .bottom-block .row .offer {
      border-radius: 10px 0 0 10px; }
    .bottom-block .row .think img {
      border-radius: 0 10px 10px 0; }

  .trash {
    margin-top: 48px; } }
@media (max-width: 1200px) {
  .header-contact-number {
    padding-left: 0;
    margin-left: -5px; }

  .social-media {
    flex: 0 0 100%;
    max-width: 100%; }

  .trash {
    margin-top: 10px;
    padding-left: 0; }
    .trash .rights {
      margin-top: 18px;
      text-align: left !important; } }
@media (min-width: 992px) {
  .d-lg-flex {
    display: flex !important; }

  .top-block:nth-child(2) {
    margin-top: 0; }
  .top-block .first {
    padding-bottom: 35px; }

  .bottom-block {
    max-width: 960px; }
    .bottom-block .row {
      border-radius: 10px;
      padding-left: 15px;
      padding-right: 15px; }
      .bottom-block .row .offer {
        border-radius: 10px 0 0 10px; }
      .bottom-block .row .think img {
        height: 100%;
        border-radius: 0 10px 10px 0; }

  .footer .footer-other .trash .apply {
    margin-top: 10px; }

  .pusher-adapt {
    display: none; } }
@media (max-width: 992px) {
  .trash {
    margin-top: 5px; }

  .bottom-block .row .offer {
    border-radius: 10px 10px 0 0; }
  .bottom-block .row .think img {
    border-radius: 0 0 10px 10px; }

  .offers {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }
    .offers .comparison {
      max-width: 100% !important; }
    .offers .pusher {
      display: none;
      transform: translate(0, 0) !important; }

  .pusher-adapt {
    display: block; }
    .pusher-adapt .row {
      padding: 7px; }
    .pusher-adapt .pusher {
      background-image: url("../img/main_offer_bcg.png");
      background-size: cover;
      padding: 30px;
      border-radius: 10px;
      box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
      margin-top: 10px; }
      .pusher-adapt .pusher .text {
        font-family: "mont-semibold";
        font-size: 16px;
        color: #ffffff; }
      .pusher-adapt .pusher .apply {
        margin-top: 30px;
        cursor: pointer;
        background-color: #FAA61A;
        width: 213px;
        height: 50px;
        display: inline-block;
        line-height: 50px;
        text-align: center;
        border-radius: 25px;
        box-shadow: 0px 26px 18px -20px #faa61a;
        font-family: "mont-bold";
        font-size: 15px;
        border: none;
        color: white;
        outline: none !important; } }
@media (min-width: 768px) {
  .moot {
    padding: 0px 6px 0 35px; } }
@media (max-width: 768px) {
  .tile .text {
    height: 94px !important; } }
@media (max-width: 1090px) {
  .header .header-menu {
    display: none; }

  .header-ham {
    display: block !important;
    margin-top: 18px; }

  .menuphka.avadakedavra {
    padding: 20px 0 0 20px;
    display: block !important;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    height: 100%;
    width: 300px;
    background-color: #faa61a;
    font-family: "mont-semibold";
    font-size: 20px; }
    .menuphka.avadakedavra .dualshock {
      color: white; } }

/*# sourceMappingURL=adapt.css.map */
