@font-face {
  font-family: "mont-black";
  src: url("../fonts/Mont-Black.ttf"); }
@font-face {
  font-family: "mont-black-italic";
  src: url("../fonts/Mont-BlackItalic.ttf"); }
@font-face {
  font-family: "mont-bold";
  src: url("../fonts/Mont-Bold.ttf"); }
@font-face {
  font-family: "mont-bold-italic";
  src: url("../fonts/Mont-BoldItalic.ttf"); }
@font-face {
  font-family: "mont-extra-light";
  src: url("../fonts/Mont-ExtraLight.ttf"); }
@font-face {
  font-family: "mont-extra-light-italic";
  src: url("../fonts/Mont-ExtraLightItalic.ttf"); }
@font-face {
  font-family: "mont-heavy";
  src: url("../fonts/Mont-Heavy.ttf"); }
@font-face {
  font-family: "mont-heavy-italic";
  src: url("../fonts/Mont-HeavyItalic.ttf"); }
@font-face {
  font-family: "mont-light";
  src: url("../fonts/Mont-Light.ttf"); }
@font-face {
  font-family: "mont-light-italic";
  src: url("../fonts/Mont-LightItalic.ttf"); }
@font-face {
  font-family: "mont-regular";
  src: url("../fonts/Mont-Regular.ttf"); }
@font-face {
  font-family: "mont-regular-italic";
  src: url("../fonts/Mont-RegularItalic.ttf"); }
@font-face {
  font-family: "mont-semibold";
  src: url("../fonts/Mont-SemiBold.ttf"); }
@font-face {
  font-family: "mont-semibold-italic";
  src: url("../fonts/Mont-SemiBoldItalic.ttf"); }
@font-face {
  font-family: "mont-thin";
  src: url("../fonts/Mont-Thin.ttf"); }
@font-face {
  font-family: "annonymous";
  src: url("../template_fonts/AnonymousPro-Regular.ttf"); }
@font-face {
  font-family: "annonymous-bold";
  src: url("../template_fonts/AnonymousPro-Bold.ttf"); }
@font-face {
  font-family: "annonymous-italic";
  src: url("../template_fonts/AnonymousPro-Italic.ttf"); }
@font-face {
  font-family: "arimo";
  src: url("../template_fonts/Arimo-Regular.ttf"); }
@font-face {
  font-family: "arimo-bold";
  src: url("../template_fonts/Arimo-Bold.ttf"); }
@font-face {
  font-family: "arimo-italic";
  src: url("../template_fonts/Arimo-Italic.ttf"); }
@font-face {
  font-family: "cousine";
  src: url("../template_fonts/Cousine-Regular.ttf"); }
@font-face {
  font-family: "cousine-bold";
  src: url("../template_fonts/Cousine-Bold.ttf"); }
@font-face {
  font-family: "cousine-italic";
  src: url("../template_fonts/Cousine-Italic.ttf"); }
@font-face {
  font-family: "cuprum";
  src: url("../template_fonts/Cuprum-Regular.ttf"); }
@font-face {
  font-family: "cuprum-bold";
  src: url("../template_fonts/Cuprum-Bold.ttf"); }
@font-face {
  font-family: "cuprum-italic";
  src: url("../template_fonts/Cuprum-Italic.ttf"); }
@font-face {
  font-family: "opensans";
  src: url("../template_fonts/OpenSansCondensed-Light.ttf"); }
@font-face {
  font-family: "opensans-bold";
  src: url("../template_fonts/OpenSansCondensed-Bold.ttf"); }
@font-face {
  font-family: "opensans-italic";
  src: url("../template_fonts/OpenSansCondensed-LightItalic.ttf"); }
@font-face {
  font-family: "philosopher";
  src: url("../template_fonts/Philosopher-Regular.ttf"); }
@font-face {
  font-family: "philosopher-bold";
  src: url("../template_fonts/Philosopher-Regular.ttf"); }
@font-face {
  font-family: "philosopher-italic";
  src: url("../template_fonts/Philosopher-Italic.ttf"); }

/*# sourceMappingURL=fonts.css.map */
