{% extends "base.html" %}

{% block content %}
<div class="lk-wrap login_reg">
    <div class="container">
        <div class="row">
            <div class="col-5 login_reg_form" style="margin-bottom: 20px">
                <span class="question">Оплата объявления {{ad.track}}</span><br>
                <div id="price" style="display: none">{{ad.price}}</div>
                <div id="bonus" style="display: none">{{current_user.collected_m}}</div>
                <form class="login_reg_form" action="" method="post" novalidate>
                    {{ form.hidden_tag() }}
                <p>
                    {% if is_own %}
                    <span>Списать бонусные {{current_user.collected_m}}₽ ?</span><br>
                    {{ form.waste(size=32) }}
                    {% else %}
                    {{ form.waste(size=32, style="display: none !important") }}
                    {% endif %}
                </p>
                <p>{{ form.submit(value=price_btn_text) }}</p>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}