{% extends "base.html" %}

{% block content %}
<div class="lk-wrap">
    <div class="container">
        <div class="row">
            <div class="col-5 login_reg_form">
                <h1>Личный кабинет</h1>
                <p>
                    <label for="username">Имя</label>
                    <input type="text" id="username" value="{{ user.username }}">
                </p>
                <p>
                    <label for="second_name">Фамилия</label>
                    <input type="text" id="second_name" value="{{ user.second_name }}">
                </p>
                <p>
                    <label for="third_name">Отчество</label>
                    <input type="text" id="third_name" value="{{ user.third_name }}">
                </p>
                <p>
                    <label for="phone_number">Номер телефона</label>
                    <input type="text" id="phone_number" value="{{ user.phone_number }}">
                </p>
                <p>
                    <label for="email">Email</label>
                    <input type="text" id="email" value="{{ user.email }}">
                </p>
                <p>
                    <label for="is_entity">Организация?</label>
                    <input type="text" id="is_entity" value="{{ user.is_entity }}">
                </p>
                <p>
                    <label for="entity_name">Наименование организации</label>
                    <input type="text" id="entity_name" value="{{ user.is_entity }}">
                </p>
                <p>
                    <label for="iin">ИИН</label>
                    <input type="text" id="iin" value="{{ user.iin }}">
                </p>
                <p>
                    <label for="ogrn">ОГРН</label>
                    <input type="text" id="ogrn" value="{{ user.ogrn }}">
                </p>
                <p>
                    <label for="ref_code">Ваш реферальный код: </label>
                    <span class="ref_code">{{ user.ref_code }}</span><br>
                    <label for="ref_code">Реф. ссылка: </label><br>
                    <span class="ref_code">https://теледоска.рф/registration?ref_code={{ user.ref_code }}</span><br>
                </p>
                <button id="update_lk">Сохранить</button>
                <br>
<br>
            </div>
        </div>
    </div>
</div>

{% endblock %}