{% extends "base.html" %}

{% block content %}
    <section class="login_reg">
        <div class="container">
            <div class="row">
                <div class="col-5">
<h1>Вход</h1>
    <form class="login_reg_form" action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit() }}</p>
    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}