{% extends "base.html" %}

{% block content %}

	<section class="main">
		<div class="container-xl" style="padding: 0 0 0 0 !important;">
			<div class="row justify-content-between">
				<div class="col-xl col-lg col-md-12 slider-block">
					<div class="owl-carousel owl-theme">
						<div>
							<div class="slide-wrapper">
								<div class="container slide-heading-wrapper">
									<div class="row  align-items-center">
										<div class="col slide-heading">
											<div class="container">
												<div class="row">
													<div class="col-7 heading">Продай рекламное объявление на телеканале эфир</div>
													<div class="w-100"></div>
													<div class="col main-deal">И получи <span class="orange">охват 130 000 зрителей</span> </div>
													<div class="w-100"></div>
													<div class="col sale">всего за  <span class="line-through">3 000 ₽</span> <span class="red-sale">1 000 ₽</span></div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- <img src="{{ url_for('static', filename='img/bcg.png" class="background') }}" alt=""> -->
							</div>
						</div>
						<div>
							<div class="slide-wrapper">
								<div class="container slide-heading-wrapper">
									<div class="row  align-items-center">
										<div class="col slide-heading">
											<div class="container">
												<div class="row">
													<div class="col-7 heading">Продай рекламное объявление на телеканале эфир</div>
													<div class="w-100"></div>
													<div class="col main-deal">И получи <span class="orange">охват 130 000 зрителей</span> </div>
													<div class="w-100"></div>
													<div class="col sale">всего за  <span class="line-through">3 000 ₽</span> <span class="red-sale">1 000 ₽</span></div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- <img src="{{ url_for('static', filename='img/bcg.png" class="background') }}" alt=""> -->
							</div>
						</div>
						<div>
							<div class="slide-wrapper">
								<div class="container slide-heading-wrapper">
									<div class="row  align-items-center">
										<div class="col slide-heading">
											<div class="container">
												<div class="row">
													<div class="col-7 heading">Продай рекламное объявление на телеканале эфир</div>
													<div class="w-100"></div>
													<div class="col main-deal">И получи <span class="orange">охват 130 000 зрителей</span> </div>
													<div class="w-100"></div>
													<div class="col sale">всего за  <span class="line-through">3 000 ₽</span> <span class="red-sale">1 000 ₽</span></div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- <img src="{{ url_for('static', filename='img/bcg.png" class="background') }}" alt=""> -->
							</div>
						</div>
						<div>
							<div class="slide-wrapper">
								<div class="container slide-heading-wrapper">
									<div class="row  align-items-center">
										<div class="col slide-heading">
											<div class="container">
												<div class="row">
													<div class="col-7 heading">Продай рекламное объявление на телеканале эфир</div>
													<div class="w-100"></div>
													<div class="col main-deal">И получи <span class="orange">охват 130 000 зрителей</span> </div>
													<div class="w-100"></div>
													<div class="col sale">всего за  <span class="line-through">3 000 ₽</span> <span class="red-sale">1 000 ₽</span></div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- <img src="{{ url_for('static', filename='img/bcg.png" class="background') }}" alt=""> -->
							</div>
						</div>

					</div>
				</div>
				<div class="offers">
					<div class="container offers-inner">
						<div class="col comparison">
							<div class="container">
								<div class="row heading">
									<div class="col bold">За эти же деньги вы получите следующий объем охвата в соц. сетях:</div>
									<div class="w-100"></div>
									<div class="col light">*Данные получены на основе среднестатистических замечаний</div>
								</div>
								<div class="row services">
									<div class="container">
										<div class="row justify-content-between">
											<div class="name">
												<img src="{{ url_for('static', filename='img/inst_colored.svg') }}"  class="service-icon service-inst" alt="">
												<span class="service-name" style="transform: translate(0px, 1px); display: inline-block;">Instagram</span>
											</div>
											<div class="amount">
												<img src="{{ url_for('static', filename='img/pointer_green.svg') }}" class="services-pointer" alt="">
												<img src="{{ url_for('static', filename='img/user_icon.svg') }}" class="service-client" alt="">
												<span class="users">40 000</span>
											</div>
										</div>
									</div>
								</div>
								<div class="row services">
									<div class="container">
										<div class="row justify-content-between">
											<div class="name">
												<img src="{{ url_for('static', filename='img/vk_colored.svg') }}" class="service-icon service-vk" alt="">
												<span class="service-name" style="transform: translate(0px, 1px); display: inline-block;">ВКонтакте</span>
											</div>
											<div class="amount">
												<img src="{{ url_for('static', filename='img/pointer_red.svg') }}" class="services-pointer" alt="">
												<img src="{{ url_for('static', filename='img/user_icon.svg') }}" class="service-client" alt="">
												<span class="users">40 000</span>
											</div>
										</div>
									</div>
								</div>
								<div class="row services">
									<div class="container">
										<div class="row justify-content-between">
											<div class="name">
												<img src="{{ url_for('static', filename='img/odno_colored.svg') }}" class="service-icon service-ok" alt="">
												<span class="service-name" style="transform: translate(0px, 1px); display: inline-block;">ОК</span>
											</div>
											<div class="amount">
												<img src="{{ url_for('static', filename='img/pointer_green.svg') }}" class="services-pointer" alt="">
												<img src="{{ url_for('static', filename='img/user_icon.svg') }}" class="service-client" alt="">
												<span class="users">40 000</span>
											</div>
										</div>
									</div>
								</div>
								<div class="row services">
									<div class="container">
										<div class="row justify-content-between">
											<div class="name">
												<img src="{{ url_for('static', filename='img/mytarget_colored.png') }}" class="service-icon service-mytarget" alt="">
												<span class="service-name" style="padding-left: 6px; transform: translate(0px, 1px); display: inline-block;">MyTarget</span>
											</div>
											<div class="amount">
												<img src="{{ url_for('static', filename='img/pointer_green.svg') }}" class="services-pointer" alt="">
												<img src="{{ url_for('static', filename='img/user_icon.svg') }}" class="service-client" alt="">
												<span class="users">40 000</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="w-100"></div>



						<div class="col pusher">
							<div class="container pusher-wrap">
								<div class="row align-items-center">
									<div class="col-1 social-media">
										<img src="{{ url_for('static', filename='img/inst_grey.svg') }}" alt="" class="socials-grey">
										<img src="{{ url_for('static', filename='img/vk_grey.svg') }}" alt="" class="socials-grey">
										<img src="{{ url_for('static', filename='img/fb_grey.svg') }}" alt="" class="socials-grey">
										<img src="{{ url_for('static', filename='img/mail_grey.svg') }}" alt="" class="socials-grey">
									</div>
									<div class="col main-offer">
										<div class="container try-us">
											<div class="row">
												<div class="col align-self-start try-us-inner">
													Впервые за долгие годы реклама на ТВ стала доступнее интернет рекламы!
												</div>
												<div class="w-100"></div>
												<div class="col align-self-end try-us-btn-row">
													<a class="apply" href="/add_add">Подать объявление</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
			<div class="pusher-adapt">
							<div class="container">
								<div class="row justify-content-center">
									<div class="col pusher">
										<div class="text">
											Впервые за долгие годы реклама на ТВ стала доступнее интернет рекламы!
										</div>
										<button class="apply" data-toggle="modal" data-target="#mmmodality">Подать объявление</button>
									</div>
								</div>
							</div>
						</div>
		</div>
	</section>
	<section class="targeted">
		<div class="container heading-wrap">
			<div class="row align-items-end">
				<div class="col-4 head">Кому особенно полезно объявления на нашем канале</div>
				<div class="col decoration-wrap">
					<div class="container decoration">
						<div class="row align-items-center">
							<div class="col-1 col-sm-3 elipse">
								<img src="{{ url_for('static', filename='img/elipse_targeted.svg') }}" alt="">
							</div>
							<div class="col line-wrap">
								<div class="line"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container targeted-main">
			<div class="row justify-content-center">
				<div  class="col  targets">
					<div class="container-tile">
						<div class="row align-items-center">
							<div class="col image">
								<img src="{{ url_for('static', filename='img/tv_1.png') }}" alt="">
							</div>
							<div class="w-100"></div>
							<div class="col head">Предпринимателям</div>
							<div class="w-100"></div>
							<div class="col text">
								В последние 2 года конкуренция между рекламодателями
								в интернете выросла настолько сильно, что обогнала
								по стоимости рекламу на ТВ и радио
							</div>
						</div>
					</div>
				</div>
				<div class="col targets">
					<div class="container-tile">
						<div class="row align-items-center">
							<div class="col image">
								<img src="{{ url_for('static', filename='img/tv_2.png') }}" alt="">
							</div>
							<div class="w-100"></div>
							<div class="col head">Предпринимателям</div>
							<div class="w-100"></div>
							<div class="col text">
								Поздравление на ТВ - это ностальгия, хорошо забытое старое. Вспомните, как это было раньше. Подарите радость близким, которая запомнится лучше букета цветов
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="stats">
		<div class="container stats-wrap">
			<div class="row justify-content-between">
				<div class="col-lg-3 col-md-12 col-sm-12 desc-wrap">
					<div class="container desc">
						<div class="row">
							<div class="col logo d-sm-none d-md-block"><img src="{{ url_for('static', filename='img/logo_efir_1.png') }}" alt=""></div>
							<div class="w-100"></div>
							<div class="col text">
								<span class="orange">В условиях пандемии</span> уровень телесмотрения значительно увеличился
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-8 col-sm-12 col-sm-12 plotter">
					<img src="{{ url_for('static', filename='img/trends.svg') }}" alt="">
				</div>
			</div>

			<div class="container order">
				<div class="row justify-content-center align-items-end">
					<div class="col-lg-3 col-9 col-md-4 col-sm-6">
						<a class="apply" href="/add_add">Подать объявление</a>
					</div>
				</div>
			</div>
			<div class="div grey-block">f</div>
		</div>

	</section>
	<section class="blocks">
		<div class="container blocks-wrap">
			<div class="container top-blocks">
				<div class="row">
					<div style="" class="col-lg-6 col-sm-12 top-block">
						<div class="container tile first">
							<div class="row col video">
								<a href="#video-one" class="a-one">
									<div class="container" style="height: 100%;">
										<div class="row justify-content-center align-items-center" style="height: 100%;">
											<div class="col-3 play"></div>
										</div>
									</div>
								</a>
							</div>
							<div class="w-100"></div>
							<span class="col text">Как выглядят объявления в живую</span>
						</div>
					</div>
					<div style="" class="col-lg-6 col-sm-12 top-block">
						<div class="container tile second">
							<div class="row col video">
								<a href="#video-two" class="a-two">
									<div class="container" style="height: 100%;">
										<div class="row justify-content-center align-items-center" style="height: 100%;">
											<div class="col-3 play"></div>
										</div>
									</div>
								</a>
							</div>
							<div class="w-100"></div>
							<span class="col text">Разместить объявление - как отправить смс</span>
						</div>
					</div>

				</div>
			</div>
			<div class="container bottom-block">
				<div class="row">
					<div class="col-lg-6 col-sm-12 col-12 offer">
						<div class="offer-wrap container">
							<div class="row align-items-center">
								<div class="col-12 head">Только подуймайте,</div>
								<div class="col-12 neck">всего лишь за <span class="red-sale">3 000 ₽</span></div>
								<div class="col-9 body">вы сможете протестировать для себя такой, казалось бы недоступный ранее канал привлечения клиентов, как реклама на ТВ</div>
								<div class="col-12 legs">Просто попробуй!</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-12 think col-sm-12"><img src="{{ url_for('static', filename='img/think_img.png') }}" alt=""></div>
				</div>
			</div>
		</div>
	</section>


{% endblock %}