{% extends "base.html" %}

{% block content %}
    <section class="login_reg">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-7 col-12">
<h1>Изменение пароля</h1>
    <form class="login_reg_form" action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
        <p>
            {{ form.password_confirm.label }}<br>
            {{ form.password_confirm(size=32) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
                </div>
            </div>
        </div>
    </section>
{{ incorrect | safe}}
{% endblock %}